$brand-color: #4056A1;
$profile-color: #caccd9;
$brand-text-color: #FFFFFF;
$handle-color: lightblue;
$border-color: black;
$body-text-color: #545149;
$body-background-color: #f4f1ec;
$error-color: red;
$tweetbox-hover-color: grey;
$font-sans: 'Source Sans Pro', sans-serif;
$font-bungee: 'Bungee', sans-serif;

#profileHeader {
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: $profile-color;
  background-image: url("https://www.transparenttextures.com/patterns/blu-stripes.png");
}

header > div {
  margin: 0;
}

div > h2 {
  margin: 0;
  color: $brand-text-color;
}

h2 > span {
  font-weight: lighter;
}

@media only screen and (min-width: 1300px) {
  #profileHeader {
    margin-top: 10em;
    margin-right: 6em;
    margin-left: 6em;
    width: 40%;
    display: flex;
    align-items: center;
  }
}
