$brand-color: #4056A1;
$profile-color: #caccd9;
$brand-text-color: #FFFFFF;
$handle-color: lightblue;
$border-color: black;
$body-text-color: #545149;
$body-background-color: #f4f1ec;
$error-color: red;
$tweetbox-hover-color: grey;
$font-sans: 'Source Sans Pro', sans-serif;
$font-bungee: 'Bungee', sans-serif;

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $brand-color;
  color: $brand-text-color;
  height: 120px;
  padding: 1.5em;
  z-index: 1;
}

.hidden {
  display: none;
}

#logo {
  font-family: $font-bungee;
  font-size: 40px;
}

#navNewTweet {
  font-weight: 300;
}

.writeNavPrompt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.writeNavPrompt > h5 {
  margin: 0;
}

.writeNavPrompt > span {
  text-align: center;
}

.composer {
  font-family: $font-sans;
  background-color: $brand-color;
  border: none;
  color: $brand-text-color;
  outline: none;
}

.composer:hover .composeIcon {
  margin-top: 5%;
}
