$brand-color: #4056A1;
$profile-color: #caccd9;
$brand-text-color: #FFFFFF;
$handle-color: lightblue;
$border-color: black;
$body-text-color: #545149;
$body-background-color: #f4f1ec;
$error-color: red;
$tweetbox-hover-color: grey;
$font-sans: 'Source Sans Pro', sans-serif;
$font-bungee: 'Bungee', sans-serif;

#tweet-text {
  width: 100%;
  resize: none;
  background: none;
  border-bottom-width: thick;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}

#tweetHider {
  display: none;
}

#error {
  background-color: $error-color;
  color: $brand-text-color;
  font-weight: bold;
  display: none;
  text-align: center;
}


form > div {
  display: flex;
  justify-content: space-between;
  font-family: $font-bungee;
}

div > button {
  background-color: $brand-color;
  color: $brand-text-color;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newTweetForm {
  width: 100%;
}

label {
  font-family: $font-sans;
  font-weight: bold;
}

.overLength {
  color: $error-color;
}
